= render 'tab'
- @selected_list.each do |member_id, cards|
  .member_name
    = @member_by_id[member_id]
  .row
    .bs-docs-grid
      .show-grid
        - cards.each do |card|
          %div{ class: "span#{card[:time]}"}
            = link_to card[:name], card[:url], target: '_blank'
